@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --from-color {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}

@property --to-color {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}

@utility from-color-* {

  &::after,
  &::before {
    --from-color: --value(--color-*);

  }

  --from-color: --value(--color-*);
}

@utility to-color-* {

  &::after,
  &::before {
    --to-color: --value(--color-*);

  }

  --to-color: --value(--color-*);
}

@layer components {

  .glowing-card {
    @apply p-4 rounded bg-gray-950;
    position: relative;
    border: 4px solid transparent;

    &::before,
    &::after {
      @apply rounded;
      box-sizing: content-box;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      translate: -50% -50%;
      height: 100%;
      width: 100%;
      padding: 6px;

      background: #cc2b5e, #753a88;
      background: -webkit-conic-gradient(from var(--angle), var(--from-color), var(--to-color), var(--from-color));
      background: conic-gradient(from var(--angle), var(--from-color), var(--to-color), var(--from-color));
      animation: spin-bg 4s linear infinite;
    }

    &::before {
      filter: blur(10px);
      opacity: 0.5;
    }

  }

}

@keyframes spin-bg {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}
